CREATE OR REPLACE FUNCTION test_hash() RETURNS void AS \$\$ BEGIN UPDATE auth.users SET encrypted_password = crypt('password123', gen_salt('bf', 10)) WHERE email = 'admin@banoqabil.com'; END; \$\$ LANGUAGE plpgsql;
